@model ServiceViewModel
@{
    ViewData["Title"] = "Title";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ServiceDataId" />
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" required class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinutesSpent" class="control-label"></label>
                <input asp-for="MinutesSpent" required class="form-control" />
                <span asp-validation-for="MinutesSpent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarBrandId" class="control-label"></label>
                @Html.DropDownListFor(c => c.CarBrandId, Model.CarBrandSelectList)
                <span asp-validation-for="CarBrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarTypeId" class="control-label"></label>
                @Html.DropDownListFor(c => c.CarTypeId, Model.CarTypeSelectList)
                <span asp-validation-for="CarTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
    </script>
}