@model EditUserViewModel
@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>

<hr />
<form asp-action="Edit" asp-controller="Users" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input type="text" asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Surname" class="control-label"></label>
        <input type="text" asp-for="Surname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input type="text" asp-for="PhoneNumber" class="form-control" />
    </div>
    @{
        if (Model.PhotoData is not null && Model.PhotoData.Length != 0)
        {
            <input type="hidden" asp-for="PhotoData" />
            <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@Convert.ToBase64String(Model.PhotoData)" />
            <label asp-for="DeletePhoto"></label>
            <input asp-for="DeletePhoto" />
        }
    }
    <div class="form-group">
        <label asp-for="Photo" class="control-label"></label>
        <input type="file" asp-for="Photo" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
    <hr />
    <div>
        <a class="btn btn-primary" asp-action="Index">Back</a>
    </div>
</form>