@model ChangeRoleViewModel
@{
    ViewData["Title"] = "Изменение прав";
}

<div class="row d-flex justify-content-center pt-5 pb-3">
    <form method="post" asp-action="EditRoles" asp-controller="Users" enctype="multipart/form-data" class="col-md-5 border rounded
            border-dark py-5 px-5 bg-light bg-gradient">
        <p class="fs-1 row d-flex justify-content-center">Редактирование прав пользователя @Model.UserEmail</p>
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="UserEmail" />
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" class="form-check-input shadow-none ms-1" name="UserRoles" value="@role.Name"
               @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />

            @role.Name <br />
        }
        <div class="d-flex justify-content-center pt-3">
            <div class="form-group">
                <input type="submit" value="Редактировать права" class="btn btn-dark shadow-none" />
            </div>
        </div>
    </form>
</div>