@model ChangePasswordInPersonalAccountViewModel
@{
    ViewData["Title"] = "Change password";
}
<h1>Change password</h1>
<hr />
<form asp-action="ChangePassword" asp-controller="Account">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="OldPassword" class="control-label"></label>
        <input type="text" asp-for="OldPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input type="text" asp-for="NewPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NewPasswordConfirmation" class="control-label"></label>
        <input type="text" asp-for="NewPasswordConfirmation" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
</form>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index">Back</a>
</div>