@model LoginViewModel
@{
    ViewData["Title"] = "Вход";
}
<div class="row d-flex justify-content-center pt-5 mt-5">
    <form method="post" asp-controller="Account" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl" class="col-md-5 border rounded border-dark py-5 px-5 bg-light bg-gradient">
        <p class="fs-1 row pb-3 d-flex justify-content-center">Вход в личный кабинет</p>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row pb-3">
            <label asp-for="Email" class="col-sm-4 col-form-label"></label>
            <div class="col-sm-8">
                <input type="text" asp-for="Email" required class="form-control shadow-none" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="form-group row pb-3">
            <label asp-for="Password" class="col-sm-4 col-form-label"></label>
            <div class="col-sm-8">
                <input type="password" asp-for="Password" required class="form-control shadow-none" />
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="form-group row pb-3 align-items-center">
            <label asp-for="RememberMe" class="col-sm-4 col-form-label"></label>
            <div class="form-check col-sm-8">
                <input asp-for="RememberMe" class="form-check-input shadow-none ms-1" />
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <input class="btn btn-dark shadow-none bg-black text-white w-25" type="submit" value="Войти" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}