@model DiscountViewModel
@{
    ViewData["Title"] = "Title";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Percent" class="control-label"></label>
                <input asp-for="Percent" required class="form-control" />
                <span asp-validation-for="Percent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStart" class="control-label"></label>
                <input type="date" required asp-for="DateStart" class="form-control" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEnd" class="control-label"></label>
                <input type="date" required asp-for="DateEnd" class="form-control" />
                <span asp-validation-for="DateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceDataId" class="control-label"></label>
                @Html.DropDownListFor(c => c.ServiceDataId, Model.ServiceDataSelectList, "-----")
                <span asp-validation-for="ServiceDataId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarBrandId" class="control-label"></label>
                @Html.DropDownListFor(c => c.CarBrandId, Model.CarBrandSelectList, "-----")
                <span asp-validation-for="CarBrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarTypeId" class="control-label"></label>
                @Html.DropDownListFor(c => c.CarTypeId, Model.CarTypeSelectList, "-----")
                <span asp-validation-for="CarTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}